{% extends 'admin_main.html' %}
{% load static %}
{% block  content %}

<div class="container p-4 m-auto bg-info col-md-6 col-lg-6 mt-4" style="border-radius: 20px;">
    <form method="POST" id="register-form" action="{% url 'add_student' admininfo.id %}" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="container d-flex justify-content-center align-items-center mb-3">
            <img src="{% static 'assets/img/logo.png' %}" alt="Logo" class="img-fluid" style="height: 80px; width: auto;">
        </div>

        <legend class="text-center">ADD STUDENT!</legend><br>

        {% for message in messages %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}

        {{ form.as_p }}

        <label class="form-label">Full Name:</label>
        <input type="text" name="name" required class="form-control"><br>

        <label for="email" class="form-label">Email:</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="student@gmail.com" required><br>

        <label for="username" class="form-label">Username:</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="e.g.,sirbrams" required><br>

        <label for="phone" class="form-label">Phone Number:</label>
        <input type="tel" class="form-control" id="phone" name="phone" placeholder="e.g., +254710101010" required><br>

        <label for="id_number" class="form-label">ID Number:</label>
        <input type="number" class="form-control" id="id_number" name="id_number" placeholder="Enter your ID number" required><br>

        <label for="date" class="form-label">Date of Birth:</label>
        <input type="date" id="date" class="form-control" name="date" required><br>

        <label class="form-label">Choose Gender:</label><br>
        <input type="radio" id="male" name="gender" value="Male" required>
        <label for="male">Male</label><br>
        <input type="radio" id="female" name="gender" value="Female">
        <label for="female">Female</label><br>
        <input type="radio" id="other" name="gender" value="Other">
        <label for="other">Other</label><br>
        <small id="password-strength" class="text-danger"></small><br>


        <div class="text-center mt-4">
            <button type="submit" class="btn btn-outline-secondary">Add Student!</button>
        </div>

    </form>
</div>
{% endblock %}