<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reset Password</title>
    {% load static %}
  <link href="{% static 'assets/img/logo.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'asset/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'asset/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'asset/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'asset/vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'asset/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'asset/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'asset/vendor/simple-datatables/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="">
  <link href="{% static 'asset/css/style.css' %}" rel="stylesheet">
  <!-- Main CSS File -->
  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">
    </head>

    <nav class="navbar navbar-expand-lg " style="background-color: navy">
        <div class="container-md">
         <span class="d-lg-block text-uppercase text-white" id="titles">SirBrams Tech Virtual  </span><div  class="text-lowercase  text-warning ms-1" style="font-family:'Courier New';
font-size: 14px">Campus </div>
        </div>
      </nav>
<body class="bg-light">
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="card p-4 shadow-lg" style="width: 400px;">
            <h3 class="text-center">Reset Password</h3>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-danger text-center">{{ message }}</div>
                {% endfor %}
            {% endif %}
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="email" class="form-label">Enter your Email</label>
                    <input type="email" name="email" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary w-100">Send OTP</button>
            </form>
            <div class="text-center mt-3">
                <a href="{% url 'login' %}" class="text-decoration-none">Back to Login</a>
            </div>
        </div>
    </div>

      <footer id="footer1" class="footer " style="background-color:navy">


    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="#">SirBrams Tech Virtual Campus</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
      </div>
    </div>

  </footer>
</body>
</html>